{
  "rules": {
    "react/jsx-uses-react": "off",
    "react/react-in-jsx-scope": "off"
  },
  "extends": [
    "next/core-web-vitals",
    "@sanity/eslint-config-studio",
    "plugin:@next/next/recommended"
  ]
}
  